
body {
    background-color: #0A1D3B;
}

header {
    background-color: #19539D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    
}

#logo {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
}

#title {
    display: inline;  
}

h1,h2,h3,h4,h5,h6,p,form {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 77.7;
    color: white;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

main {
    padding: 5px;
}

section {
    background-color: #19539D;
    border-radius: 10px;
    padding: 5px;
}

aside {
    background-color: #19539D;
    border-radius: 10px;
    padding: 5px;
}

footer {
    background-color: #216BCC;
    border-radius: 10px;
    padding: 10px;
}

nav li {
    border-top: 6px solid; 
    border-right: 5.5px solid; 
    border-color: #0A1D3B;
    background-color: #19539D;
    list-style-type: none;
    display: block;
    float: left;
    width: 17%;
    padding: 16px;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: #216BCC;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*
.active {
    background-color: #19539D;
}
*/

table {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 77.7;
    border-collapse: collapse; 
    margin: 10px;
}

table td,table th {
    border: 2px solid; 
    border-color: #F0F0F0;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table th:hover {
    background-color: #0A1D3B;
}

table th {
    background-color: #216BCC;
    color: white;
    width: 200px;
    height: 30px;
}


label {
    color: white;
}

legend {
    color: white;
}

input {
    color: white;
}

#submit {
    color: black;
}

#left {
    float: left;
    width: 50%;
    margin-right: 10%;
}

#right {
    padding: 1px;
    padding-right: 10%;
}
