/* Page */
body {
    background-color: white;
}

/* Header */
header {
    background-color: #0A1D3B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    
}

/* Logo */
#logo {
    height: 50px;
    width: 65px;
    float: left;
    margin-right: 10px;
}

/* Title */
#title {
    display: inline;  
}

/* Typography */
h1,h2,h3,h4,h5,h6,p,form {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 77.7;
    color: white;
}

/* Heading sizes */
h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h5,h6 {
    padding-left: 10%;
}

/* Main content */
main {
    margin: 15px
}

/* Section */
section {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex; 
}

#about {
    width: 50%;
    background-color: #19539D;
    padding: 10px;
    border-radius: 10px;
}

#about p {
    text-align: justify;
    margin-top: 10px;
    background-color: #0A1D3B;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

/* Aside */
aside {
    background-color: #19539D;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-left: 10px; 
}

aside h5 {
    padding: 0px;
}

.news {
    margin-top: 10px;
    background-color: #0A1D3B;
    padding: 10px;
    border-radius: 10px;
}

.news p {
    width: 85%;
    float: right;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #216BCC;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    max-width: 100%;
}

/* Navigation list items */
nav li { 
    border-color: #0A1D3B;
    background-color: #19539D;
    list-style-type: none;
    display: block;
    float: left;
    height: 60px;
    width: 14.2857142857%;
    padding: 16px;
}

/* Navigation links */
nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Navigation hover effect */
nav li:hover {
    background-color: #216BCC;
}

/* Navigation list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navigation */
nav {
    margin-left: 15px;
    margin-right: 15px;
}

/* Active navigation item */
.active {
    background-color: #216BCC;
}

/* Active navigation item on left*/
.active_left {
    background-color: #216BCC;
    border-bottom-left-radius: 10px;
}

/* Active navigation item on right*/
.active_right {
    background-color: #216BCC;
    border-bottom-right-radius: 10px;
}

/* Left navigation */
.nav_left {
    border-bottom-left-radius: 10px;
}

/* Right navigation */
.nav_right {
    border-bottom-right-radius: 10px;
}

/* Event Calendar Table */
.event_calendar {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
}

/* Event Calendar Table cells and headers */
.event_calendar td, .event_calendar th {
    border: 2px solid; 
    border-color: #F0F0F0;
    font-size: 12px;
    padding: 10px;
}

.event_calendar td {
    width: 255px;
}

.event_calendar th {
    background-color: #216BCC;
    color: white;
    width: auto;
    text-align: center;
    height: 50px;
}

/* Event Calendar Alternating row colors */
.event_calendar tr:nth-child(even) {
    background-color: #b9b9b9;
}

/* Event Calendar Hover effect */
.event_calendar tr:hover {
    background-color: #0A1D3B;
    color: white;
}

#event_form {
    margin-top: 10px;
    background-color: #19539D;
    padding: 10px;
    border-radius: 10px;
}

#event_form  p {
    padding: 10px;
    background-color: #0A1D3B;
    border-radius: 10px;
    margin-bottom: 10px;
}

#event_form form{
    background-color: #19539D;
    margin-bottom: 0;
}

#event_form label{
    font-size: 15px;
}

/* Label */
label {
    color: white;
}

/* Input */
input {
    color: black;
}

/* Submit button */
#submit {
    color: black;
}

/* Header left */
header #left {
    float: left;
    width: 50%;
    margin-right: 20%;
    height: auto;
}

/* Header right */
header #right {
    padding-right: 10px;
    padding: 1px;
}

/* Left section */
#left {
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    
}

/* Right section */
#right {
    margin-left: 5px;
    margin-top: 10px;
    padding: 1px;
    height: 758px;
}

/* Left header section */
#left_header {
    float: left;
    width: 50%;
    margin-right: 22.5%;
}

/* Right header section */
#right_header {
    padding: 1px;
}

/* Welcome banner */
.welcome-banner {
    background-color: #0A1D3B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;

}

/* Gallery image */
.gallery-img {
    width: 100%;
}

/* Image gallery */
#img-gallery {
padding-top: 10px;
}

/* Image gallery row */
#img-gallery .row {
    max-width:100%;
    width: 100%; 
    padding-left: 10px; 
    padding-top: 20px;
}

/* Image gallery container */
#img-gallery.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Current members row */
#current-members {
    margin-top: 10px;
}

/* Current members column */
#current-members .col-sm {
    width: 30px;
    padding: 10px;
    margin: 10px;
    background-color: #19539D;
    color: white;
    border-radius: 10px;
}

/* Current members job title and name*/
#current-members h5, #current-members h6 {
    text-align: center;
}

/* Current members image*/
#current-members img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Row headings */
.row h5, h6 {
    padding: 20px;
}

/* Rows */
#cards  {
    padding-top: 15px;
}

/* Cards */
.card {
    background-color: #19539D;
    color: white; 
}

/* Card title */
.card-title {
    padding-left: 10px;
    font-size: 26px;
    color: white;
}

/* Image quiz */
img.quiz {
    padding: 10px;
    width: 100%;
}

/* Button */
.btn{
    background-color: #0A1D3B;
    border-color: #0A1D3B;
}

/* Button hover effect*/
.btn:hover{
    background-color: #19539D;
    border-color: #19539D;
}

/* Quiz */
#quiz {
    background-color: #19539D;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

/* Questions */
.question {
    background-color: #0A1D3B;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Form */
form {
    background-color: #0A1D3B;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Button */
button {
    background-color: white;
    color: black;
    border: none;
    color: #0A1D3B;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Quiz */
#quiz {
    margin-top: 15px;
}

/* Column */
.col-sm-6 {
    width: 33.333333333%;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    color: white;
    background-color: #19539D;
    padding: 10px;
    margin-top: 15px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    border-radius: 10px;
}

.equipment {
    width: 200px;
}

.equipment_table {
    background-color: #0A1D3B;
    padding: 5px;
}

.equipment_table td {
    padding: 10px;
}

.equipment_table tr {
    border: 10px solid #19539D;
}

.filter {
    background-color: #19539D;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.dropdown {
    margin-right: 30px; 
}

.filter h3 {
    padding: 5px;
    font-size: 18px;
    margin-right: 30px;
}

.filter .btn {
    color: white;
} 

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(170, 168, 168);
}

/* contact us form */
#left form {
    background-color: #19539D;
}