
body {
    background-color: #0A1D3B;
}

header {
    background-color: #19539D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 15px;
    
}

#logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

#title {
    display: inline;  
}

h1,h2,h3,h4,h5,h6,p,form {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 77.7;
    color: white;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h5,h6 {
    padding-left: 10%;
}

main {
    margin: 15px
}

section {
    background-color: #19539D;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

aside {
    background-color: #19539D;
    border-radius: 10px;
    padding: 5px;
}

footer {
    background-color: #216BCC;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

nav li { 
    border-right: 10px solid; 
    border-color: #0A1D3B;
    background-color: #19539D;
    list-style-type: none;
    display: block;
    float: left;
    width: 14%;
    padding: 16px;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: #216BCC;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    margin-left: 15px;
}

.active {
    background-color: #216BCC;
}


table {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 80%;
}

table td,table th {
    border: 2px solid; 
    border-color: #F0F0F0;
}

table tr:nth-child(even) {
    background-color: #F2F2F2;
}

table th:hover {
    background-color: #0A1D3B;
}

table th {
    background-color: #216BCC;
    color: white;
    width: 200px;
    height: 30px;
}

label {
    color: white;
}


input {
    color: black;
}

#submit {
    color: black;
}

header #left {
    float: left;
    width: 50%;
    margin-right: 20%;
    height: auto;
}

header #right {
    padding-right: 10px;
    padding: 1px;
}

#left {
    float: left;
    width: 50%;
    margin-right: 10%;
}

#right {
    padding: 1px;
    padding-right: 10%;
}

#welcome-banner {
    margin-bottom: 15px;
}

.gallery-img {
    width: 100%;
}

#img-gallery {
padding-top: 10px;

}
#img-gallery .row {
    max-width:100%;
}

.container {
    max-width: 100%;
}

#img-gallery .row {
    width: 100%;
    padding-bottom: 20px;
    }

#img-gallery.container {
    margin: 0;
    padding: 0;
}

#current-members .row {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.card {
    background-color: #19539D;
    color: white; 
}

.card-title {
    padding-left: 10px;
    font-size: 26px;
}

img.quiz {
    padding: 10px;
    width: 100%;
}

.btn{
    background-color: #0A1D3B;
    border-color: #0A1D3B;
}

.btn:hover{
    background-color: #19539D;
    border-color: #19539D;
}

#quiz {
    background-color: #19539D;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.question {
    border: 2px solid;
    border-color: #0A1D3B;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
